@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,800,700,300);
@import url(https://fonts.googleapis.com/css?family=Squada+One);
.chat {
  /* display: flex; */
  /* flex-direction: column; */
  width: 100%;
}

.chat-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 80vh;
  border: 2px solid red;
  background: #e0e0de;
  justify-content: center;
  /* justify-content: space-between; */
}

.chat-header {
  padding: 10px;
  margin: 0 auto;
}

.user-window {
  display: flex;
  width: 100%;
  height: 100%;
  background: none;
  padding: 20px;
}

.chat-window {
  display: flex;
  height: 100%;
  width: 100%;
  text-align: center;
  background: none;
  overflow-y: scroll;
}

.form {
  width: 100%;
}

.user-panel {
  display: flex;
  height: 100px;
  padding: 20px;
}

.input-panel {
  display: flex;
  align-self: flex-end;
  justify-content: center;
  width: 100%;
  height: 52px;
  border-radius: 10px;
}

.chat-logo img {
  width: 30px;
  height: 30px;
}

.input-group .send img {
  width: 30px;
  height: 30px;
}

ul {
  list-style-type: none;
  width: 100%;
  padding-left: 0px;
}

li {
  display: flex;
  margin-top: 20px;
  margin-bottom: 30px;
  border-radius: 10px;
  padding-left: 20px;
  padding-right: 20px;
}

li app-chat-window {
  width: 100%;
}

.generall {
  display: flex;
  flex-direction: row;
}

.generall .list-of-users {
  display: flex;
  /* justify-content: center;
  align-items: center; */
  width: 30%;
  height: 80vh;
  max-height: 80vh;
  overflow-y: scroll;
  margin-left: -30%;
}

.generall .list-of-users ul {
  display: block;
  margin: 0 auto;
  height: 80vh;
  max-height: 90vh;
}

.generall .list-of-users ul li {
  border-radius: 0px;
  margin-bottom: 0px;
  margin-top: 0px;
  cursor: pointer;
  padding: 0;
  vertical-align: middle;
}

.generall .list-of-users ul a {
  display: block;
  color: #000;
  text-decoration: none;
  width: 100%;
  height: 100%;
  padding-top: 15px;
  padding-bottom: 15px;
  text-align: center;
}

.generall .list-of-users ul li:hover {
  border: 2px solid black;
}

#attachFile {
  display: none;
}

.attach {
  padding: 5px;
  cursor: pointer;
}

.attach img {
  width: 30px;
  height: 30px;
}

.image-preview {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 110px;
  padding-top: 5px;
  padding-bottom: 5px;
  margin-top: 10px;
}

.image-preview .image-block {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 5px;
  padding: 10px;
  /* padding-top: 15px;
  padding-bottom: 15px; */
  border: 1px dashed #fff;
  height: 120px;
  position: relative;
}

.image-preview .image-block:hover {
  border: 1px dashed blue;
}

.image-preview img {
  width: 100px;
  height: 100px;
}

.image-preview .image-block .close {
  color: red;
  font-size: 30px;
  position: absolute;
  width: 100%;
  height: 100%;
  right: 0px;
  top: 0;
  opacity: 0;
  z-index: 99999;
  cursor: pointer;
  text-align: right;
  z-index: 9999;
}

.image-preview .image-block .close:hover {
  background: rgba(255, 245, 215, 0.4);
  opacity: 1;
}

.removed {
  visibility: hidden;
}

.chat-header {
  font-family: 'Open Sans', sans-serif;
  color: #555;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 80px;
  font-weight: 800;
  letter-spacing: -3px;
  line-height: 1;
  text-shadow: #EDEDED 3px 2px 0;
  position: relative;
}

.chat-header:after {
  /*background: url(https://subtlepatterns.com/patterns/crossed_stripes.png) repeat;*/
  background-image: -webkit-linear-gradient(left top, transparent 0%, transparent 25%, #555 25%, #555 50%, transparent 50%, transparent 75%, #555 75%);
  background-size: 4px 4px;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  z-index: -5;
  display: block;
  text-shadow: none;
}