<div class="" *ngIf='infoAboutBook'>
  <div class="info">

    <div class="modal-content">
      <div class="content">
        <div class="icon-image">
          <img [src]='LOGO' />
        </div>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)='Close($event)'>
              <img [src]='CLOSE' alt="">
            </button>
        <div class="info-text">
          <div class="author-and-title">
            <h3>{{infoAboutBook.author}} - {{infoAboutBook.title}}</h3>
          </div>
          <div class="rating">
            <app-rating [(rating)]='infoAboutBook.rating' [(id)]='infoAboutBook._id' [disabledStatus]='true'></app-rating>
            <!-- <app-rating [(rating)]='infoAboutBook.rating' [(id)]='infoAboutBook._id'></app-rating> -->
          </div>
          <div class="date">
            <p>{{infoAboutBook.info.downloadedOn}}</p>
          </div>
          <div class="review">
            <p>{{infoAboutBook.review}}</p>
          </div>
          <div class="download">
            <a href="{{Download()}}" download="{{infoAboutBook.title}}" target="_blank">download</a>
            <!-- <a href='/media/sergiy/A/Projects/wetello/uploads/5abfbcb317d42e0bcb89d3fc/c.jpg' download>asd</a> -->
          </div>
        </div>
      </div>
    </div>
  </div>
</div>